<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>


    <add name="FROM_DB_CONN" connectionString="Data Source=192.168.1.207;Initial Catalog=WellFood; User Id= sa;Password=data" providerName="System.Data.SqlClient"/>
    <add name="TO_DB_CONN" connectionString="Data Source=192.168.1.207;Initial Catalog=WellFood2; User Id=sa;Password=data" providerName="System.Data.SqlClient"/>
   
  </connectionStrings>
  <appSettings>
    <add key="excuteDuration" value="5"/>   
  </appSettings>
</configuration>
